
<div layout="column" class="layout-container padding-top" layout-align="start center" ng-cloak>
    <div class="row full-width" flex="grow">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="row">
            <div class="col-xs-6">
          <div class="champion-container-relative">
              <img ng-src="{{getImgUrl(championData.data.name)}}" ng-cloak>
              <div>{{championData.data.name}}</div>
          </div>
        </div>
        <div class="col-xs-6">
                <div class="summoner-stats">Weekly Ranking: <strong>{{championData.rank.rank}}</strong></div>
        <div class="summoner-stats">Game Average: <strong>{{championData.rank.avg_gain}}</strong></div>
         <div class="summoner-stats">Average played: <strong>{{championData.stats.avg_games_summoner}}</strong></div>
         <div class="summoner-stats">#Summoners: <strong>{{championData.stats.summoners_played}}</strong></div>
        <div class="summoner-stats">#Games: <strong>{{championData.stats.games_played}}</strong></div>
                </div>
          </div>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="row pie-chart-container" ng-if="lotsGraphReady">
          <div class="col-xs-6" ng-controller="gradeGraphControllerC">
            <label>Grades Achieved</label>
              <canvas id="pie" class="chart chart-pie"
                  chart-data="data" chart-labels="labels" height="150" width="150"
                  ng-if="data.length">
              </canvas> 
              <div class="alert alert-warning" ng-if="!data.length">No Data</div>
          </div>
          <div class="col-xs-6" ng-controller="levelGraphControllerC">
            <label>Levels Achieved</label>
              <canvas id="pie" class="chart chart-pie"
                  chart-data="data" chart-labels="labels" height="150" width="150"
                   ng-if="data.length">
              </canvas> 
              <div class="alert alert-warning" ng-if="!data.length">No Data</div>
          </div>
          
        </div>
    </div>
    </div>
    <div class="row" flex="grow">
        <div class="col-sm-6 padding-top">
          <table layout="column" flex="grow" class="table table-inverse table-striped table-hover">
          <thead>
            <tr>
              <th colspan="3">
                  Summoner
              </th>
              <th colspan="3">
                  Level
              </th>
              <th colspan="3">
                Next
              </th>
              <th colspan="3">
                Since
              </th>
              <th colspan="3">
                Total
              </th>
            </tr>
          </thead>
          <tbody class="table-listings">
            <tr ng-repeat="champ in championData.top10HighestMastery" class="selectable-row" ng-click="goto(champ.summoner_name)">
	      <td colspan="3">
                  {{champ.summoner_name}}
	      </td>
              <td colspan="3">
                  {{champ.mastery_level}}
              </td>
              <td colspan="3">
                  {{champ.pts_next}}</td>
              <td colspan="3">
                  {{champ.pts_since}}
              </td>
              <td colspan="3">
                  {{champ.pts_total}}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
        <div class="col-sm-6 padding-top">
          <table layout="column" flex="grow" class="table table-inverse table-striped table-hover">
          <thead>
            <tr>
              <th colspan="4">
                  Rank (Change)
              </th>
              <th colspan="4">
                Name
              </th>
              <th colspan="4">
                Average Gains
              </th>
            </tr>
          </thead>
          <tbody class="table-listings">
            <tr ng-repeat="champ in championData.top10Players.data" class="selectable-row" ng-click="goto(champ.name)">
              <td colspan="4" class="relative-container">
                 <div ng-class="{'arrow-up' : champ.rankChangeDirection === 'up' || champ.rankChangeDirection === 'upNew',
                                 'arrow-down' : champ.rankChangeDirection === 'down'}"></div>
                 {{champ.rank}}
                 (<span class="{{champ.rankChangeDirection}}">{{champ.rankChange}}</span>)
              </td>
              <td colspan="4" scope="row">
              {{champ.name}}</td>
              <td colspan="4">
                  {{champ.points}}
                 (<span class="{{champ.pointsChangeDirection}}">{{champ.pointsChange}}</span>)
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
</div>
