<link rel="stylesheet" href="/modules/home/style.css" />

<!-- alert container -->
<div class="alert alert-danger alert-popups" ng-if="errorMessage" role="alert"><strong>Error!</strong> {{errorMessage}}</div>

<!-- Search Container -->
<div class="global-text-search">
    <div>
  <md-progress-circular md-mode="indeterminate" class="global-search-spinner" ng-if="searchingGlobally">
  </md-progress-circular>
  <md-input-container>
    <label>Summoner Name</label>
      <input ng-model="globalSearch" ng-keyup="$event.keyCode == 13 && globalSearch.length && searchForPlayerChampion()">
  </md-input-container>
  <md-button class="md-raised md-primary"
             ng-disabled="searchingGlobally || !globalSearch"
             ng-click="searchForPlayerChampion()">
    Search
  </md-button>
  </div>
</div>

<!-- Error Mask -->
<div layout="row" flex="50" layout-align="center center" ng-cloak ng-show="noDataError" class="global-error-container">
<div flex>
  <div layout="column" layout-align="center center" class="alert alert-danger">
    <div>
      <strong>Error!</strong>
      There was a problem reaching our server! Please try again later.
    </div>
    <div>
      <md-button class="md-raised" ng-disabled="retryNoDataError" ng-click="retryNoData()">
        Retry
      </md-button>
    </div>
  </div>
  <div layout="row" ng-if="retryNoDataError" ng-cloak>
      <md-progress-linear class="md-warn" md-mode="indeterminate">
      </md-progress-linear>
  </div>
  </div>
</div>


<div ng-if="loadingData" layout="row" layout-align="center center" class="padding-top loading-data">
  <div layout-align="center center" class="alert alert-info full-width">
  Loading Data...
  </div>
</div>


<div layout="column"
     flex="grow"
     class="global-container"
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/mainview.html'"
     ng-if="viewMode === 'Main' && !loadingData">
</div>

<div layout="column"
     flex="grow"
     class="global-container"
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/topplayerview.html'"
     ng-if="viewMode === 'Top10Player' && !loadingData">
</div>

<div layout="column"
     flex="grow"
     class="global-container"
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/summonerview.html'"
     ng-if="viewMode === 'Summoner' && !loadingData">
</div>

<div layout="column"
     flex="grow"
     class="global-container"
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/championview.html'"
     ng-if="viewMode === 'Champion' && !loadingData">
</div>

<div layout="column" 
     flex="grow" 
     class="global-container" 
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/championandsummonerview.html'" 
     ng-if="viewMode === 'ChampionAndSummoner' && !loadingData">
</div>