<link rel="stylesheet" href="/modules/home/style.css" />

<!-- alert container -->
<div class="alert alert-danger alert-popups" ng-if="errorMessage" role="alert"><strong>Error!</strong> {{errorMessage}}</div>

<!-- Search Container -->
<div class="global-text-search">
    <div>
  <md-progress-circular md-mode="indeterminate" class="global-search-spinner" ng-if="searchingGlobally">
  </md-progress-circular>
  <md-input-container>
    <label>Summoner Name</label>
      <input ng-model="globalSearch">
  </md-input-container>
  <md-button class="md-raised md-primary"
             ng-disabled="searchingGlobally || !globalSearch"
             ng-click="searchForPlayerChampion()">
    Search
  </md-button>
  </div>
</div>

<!-- Error Mask -->
<div layout="row" flex="50" layout-align="center center" ng-cloak ng-show="noDataError" class="global-error-container">
<div flex>
  <div layout="column" layout-align="center center" class="alert alert-danger">
    <div>
      <strong>Error!</strong>
      There was a problem reaching our server! Please try again later.
    </div>
    <div>
      <md-button class="md-raised" ng-disabled="retryNoDataError" ng-click="retryNoData()">
        Retry
      </md-button>
    </div>
  </div>
  <div layout="row" ng-if="retryNoDataError" ng-cloak>
      <md-progress-linear class="md-warn" md-mode="indeterminate">
      </md-progress-linear>
  </div>
  </div>
</div>



<div ng-if="loadingData" layout="row" layout-align="center center" class="padding-top loading-data">
  <div layout-align="center center" class="alert alert-info full-width">
  Loading Data...
  </div>
</div>


<div layout="column"
     flex="grow"
     class="global-container"
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/mainview.html'"
     ng-if="viewMode === 'Main' && !loadingData">
</div>

<div layout="column"
     flex="grow"
     class="global-container"
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/topplayerview.html'"
     ng-if="viewMode === 'Top10Player' && !loadingData">
</div>

<div layout="column"
     flex="grow"
     class="global-container"
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/summonerview.html'"
     ng-if="viewMode === 'Summoner' && !loadingData">
</div>

<div layout="column"
     flex="grow"
     class="global-container"
     ng-hide="noDataError"
     ng-cloak
     ng-include="'/modules/home/views/championview.html'"
     ng-if="viewMode === 'Champion' && !loadingData">
</div>


<!-- <div layout="column"
     layout-align="space-around stretch"
     flex="grow"
     class="global-container"
     ng-cloak ng-hide="noDataError || viewMode !== 'Main'">
 -->

<!--       <div layout="row" flex="noshrink" class="layout-container champion-container-height">
        <div layout="row" layout-align="space-around center" flex="33" class="champion-container" ng-repeat="champ in topChampions">
          <img ng-src="{{getImgUrl(champ.name)}}">
            <div>
              <md-progress-circular md-diameter="150" md-mode="determinate" value="{{champ.currentAverage}}">
              </md-progress-circular>
            </div>
        </div>
      </div>

<div layout="column" flex="grow" layout-align="center" class="table-height">
<div flex="grow" layout="column" class="layout-container relative-container">
  <table layout="column" flex="grow" class="table table-inverse table-striped table-hover">
  <thead>
    <tr>
      <th colspan="4"
          class="sortable-table-header"
          href="#"
          ng-click="orderByField='rank'; reverseSort = !reverseSort"
          ng-class="{'sort-up' : !reverseSort && orderByField==='rank',
                     'sort-down' : reverseSort && orderByField==='rank',
                     'sort-active': orderByField==='rank'}">
          Rank
      </th>
      <th colspan="6"
          class="sortable-table-header"
          href="#"
          ng-click="orderByField='name'; reverseSort = !reverseSort"
          ng-class="{'sort-up' : !reverseSort && orderByField==='name',
                     'sort-down' : reverseSort && orderByField==='name',
                     'sort-active': orderByField==='name'}">
        Champion
      </th>
      <th colspan="4"
          class="sortable-table-header"
          href="#"
          ng-click="orderByField='points'; reverseSort = !reverseSort"
          ng-class="{'sort-up' : !reverseSort && orderByField==='points',
                     'sort-down' : reverseSort && orderByField==='points',
                     'sort-active': orderByField==='points'}">
        Average Points
      </th>
    </tr>
  </thead>
  <div class="scroll-to-top">
    <md-button class="md-fab md-mini md-primary md-raised" aria-label="Scroll Up" ng-click="scrollToTop()">
        <md-icon md-font-icon="fa-angle-double-up" class="fa"></md-icon>
    </md-button>
  </div>
  <tbody class="table-listings">
    <tr ng-repeat="champ in champList | filter:search | orderBy:orderByField:reverseSort" class="selectable-row" ng-click="goto(champ.name)">
      <td colspan="4" class="relative-container">
          <div ng-class="{'arrow-up' : champ.rankChangeDirection === 'up',
                          'arrow-down' : champ.rankChangeDirection === 'down'}"></div>
          {{champ.rank}}
          (<span class="{{champ.rankChangeDirection}}">{{champ.rankChange}}</span>)
      </td>
      <td colspan="6" scope="row"><img ng-src="{{getImgUrl(champ.name)}}">
      {{champ.name}}</td>
      <td colspan="4" class="relative-container">
          <div ng-class="{'arrow-up' : champ.pointsChangeDirection === 'up',
                          'arrow-down' : champ.pointsChangeDirection === 'down'}"></div>
          {{champ.points === 0 ? 'no data yet' : champ.points}}
          (<span class="{{champ.pointsChangeDirection}}">{{champ.pointsChange}}</span>)
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div layout="row" layout-align="center">
<div flex layout="row" class="layout-container">
<md-progress-linear md-mode="indeterminate" ng-if="loadingTable"></md-progress-linear>
</div>
</div>


<section layout="row" layout-sm="column" layout-align="center center" class="footer-height" layout-wrap>
  <md-button class="md-primary"
             ng-click="loadMore()"
             ng-disabled="championCount === champList.length">
    Load More Champions
  </md-button>
</section> -->

<!-- </div> -->


<!--
<div layout="row" layout-align="center center" class="search-container">

  <div flex layout="row" layout-align="center end" class="layout-container">
    <div layout="row" layout-align="center end" flex="50" class="champion-container">
    <md-input-container>
      <label>Champion Name</label>
      <input ng-model="search.name">
    </md-input-container>
    </div>
  </div>

</div> -->
