
<div layout="column" class="layout-container padding-top" layout-align="start center">
    <div class="row" flex>
    <div class="col-sm-6">
        <div class="panel panel-default">
        <div class="summoner-name">{{summonerData.name}}</div>
        <div class="summoner-stats">Weekly Ranking: <strong>{{summonerData.globalrank[0].rank}}</strong></div>
        <div class="summoner-stats">Games: <strong>{{summonerData.globalrank[0].games}}</strong></div>
        <div class="summoner-stats">Game Average: <strong>{{summonerData.globalrank[0].avg_gain}}</strong></div>
        </div>

        <div class="row pie-chart-container" ng-if="lotsGraphReady">
          <div class="col-xs-6" ng-controller="gradeGraphController">
            <label>Grades Achieved</label>
              <canvas id="pie" class="chart chart-pie"
                  chart-data="data" chart-labels="labels" height="150" width="150"
                  ng-if="data.length">
              </canvas> 
              <div class="alert alert-warning" ng-if="!data.length">No Data</div>
          </div>
          <div class="col-xs-6" ng-controller="levelGraphController">
            <label>Levels Achieved</label>
              <canvas id="pie" class="chart chart-pie"
                  chart-data="data" chart-labels="labels" height="150" width="150"
                  ng-if="data.length">
              </canvas> 
              <div class="alert alert-warning" ng-if="!data.length">No Data</div>
          </div>

              
<!--               <canvas id="pie" class="chart chart-pie"
                  chart-data="summonerData.gradeGraph.data" chart-labels="summonerData.gradeGraph.labels">
              </canvas> --> 
          
<!--             <div ng-controller="tempController" ng-cloak> -->
<!--               <h3>Comparatif des lots en volume</h3>
              <canvas id="pie2" class="chart chart-pie"
                  chart-data="data" chart-labels="labels" height="100px" 
                      chart-legend="legend">
              </canvas>  -->
<!--               <canvas id="doughnut" class="chart chart-doughnut"
                      chart-data="data" chart-labels="labels" height="100px" 
                      chart-legend="legend">
              </canvas>  -->          
<!--             </div> -->
          
        </div>
    </div>
    <div class="col-sm-6">
          <table layout="column" flex="grow" class="table table-inverse table-striped table-hover">
          <thead>
            <tr>
              <th colspan="4">
                  Time
              </th>
              <th colspan="6">
                Champion
              </th>
              <th colspan="4">
                Gained
              </th>
            </tr>
          </thead>
          <tbody class="table-listings">
            <tr ng-repeat="champ in summonerData.lastgames" class="selectable-row" ng-click="goto(champ.champion_name)">
              <td colspan="4">
                  {{champ.game_timestamp}}
              </td>
              <td colspan="6" scope="row"><img ng-src="{{getImgUrl(champ.champion_name)}}">
              {{champ.champion_name}}</td>
              <td colspan="4" class="relative-container">
                  <div class="arrow-up"></div>
                  {{champ.pts_gained === null ? 'no data yet' : champ.pts_gained}}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
</div>

<!-- <div layout="column" flex="grow" layout-align="center" class="table-height">
<div flex="grow" layout="column" class="layout-container relative-container">

</div>
</div> -->

<!-- <div layout="row" layout-align="center">
<div flex layout="row" class="layout-container">
<md-progress-linear md-mode="indeterminate" ng-if="loadingTable"></md-progress-linear>
</div>
</div>


<section layout="row" layout-sm="column" layout-align="center center" class="footer-height" layout-wrap>
  <md-button class="md-primary"
             ng-click="loadMore()"
             ng-disabled="championCount === champList.length">
    Load More Champions
  </md-button>
</section> -->
