.champion-container .champion-glow {
  border-style: solid;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  padding: 15px;
  background-color: gray;
      left: 25%;
      top:0;
}

.champion-container {
      min-height: 150px;
      position: relative;
}

.champion-container-relative {
      text-align: center;
}

.champion-container-relative img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
      width: 150px;
}

.champion-container-relative div {
  font-size: 25px;
  padding-top: 15px;
}

.image-spinner {
  display: -moz-box;
}

.image-spinner-md-progress-circular {
  position: absolute !important;
      left: 25%;
      top: 0;
}

.summoner-champion-mastery-icons {
    position: relative;
    width: 200px;
    height: 200px;
        margin-left: -45px;
}

.summoner-champion-mastery-icons .champion-glow, .summoner-champion-mastery-icons md-progress-circular {
   position: absolute !important;
   left: 25%;
   top:0;
}

.mastery-icon {
    position: absolute;
    bottom: -19px;
    left: 25%;
    width: 150px;
    z-index: 3;
}

.total-points-to-go {
    position: absolute;
    bottom: 19px;
    z-index: 3;
       left: 95px;
    background: rgba(0,0,0,0.70);
    padding: 1px 5px;
    border-radius: 5px;
    border: solid 1px gold;
    color: limegreen;
        width: 60px;
        text-align: center;
}

.summoner-champion-mastery-icons {

}


.footer-height {
  min-height: 50px;
}

.table-height {
    min-height: 250px;
}

.champion-container-height {
  max-height: 170px;
  padding-top: 10px;
  padding-bottom: 10px;

}

table tr td {
  vertical-align: baseline !important;
  font-size: 16px;
  text-align: left;
}

table tr td {
  padding-left:15px !important;
}

.relative-container {
  position: relative;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid green;

  display: inline-block;
  position: absolute;
  left: 2px;
  top: 19px;
}

.championview-row .arrow-up {
  top: 16px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;

  display: inline-block;
  position: absolute;
  left: 2px;
  top: 19px;
}

.championview-row .arrow-down {
  top: 16px;
}

.no-margin-top {
	margin-top:0;
}
.up {
  color: green;
  /*font-weight:bold;*/
}

.upNew {
  color: green;
}
.up:before {
  content: '+';
  padding-right:0;
  font-weight: normal;
  color: black;
}

.down {
  color: red;
/*  font-weight:bold;*/
}
.down:before {
  content: '-';
  padding-right:0;
  font-weight: normal;
  color: black;
}

/*table tr td.up {
  color: green;
  font-weight:bold;
}

table tr td.up:before {
  content: '+';
  padding-right:2px;
  font-weight: normal;
  color: black;
}

table tr td.down {
  color: red;
  font-weight:bold;
}

table tr td.down:before {
  content: '-';
  padding-right:2px;
  font-weight: normal;
  color: black;
}*/

table tr img {
  width: 30px;
}


.layout-container {
  max-width:1000px;
}

.selectable-row:hover {
  cursor: pointer;
}

.global-search {
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-container {
  height: 50px;
  padding-top:50px;
  padding-bottom: 25px;
}

.padding-top {
  padding-top: 15px;
}

/*.table-listings {
  max-height: 500px;
  overflow-y: auto;
}*/


tbody {
    /*display:block;
    max-height:500px;*/
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
.table>thead>tr {
  border-bottom: 1px solid;
}
.table {
  margin-bottom: 0;
}

.global-container {
  min-width: 500px;
}

.sortable-table-header:active, .sortable-table-header:focus {
  outline: none;
}

.sort-up {
  /*color: green;*/
}

/*.sort-up:before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}*/

.sort-up:after {
  font-size:12px;
 content: '(asc)';
 color: black;
}

.sort-down {
  /*color: red;*/
}

.sort-down:after {
  font-size:12px;
 content: '(desc)';
 color: black;
}

.sort-active {
/*  color: orange;*/
}

table {
  border: lightgray solid 1px;
}

table thead th:not(:last-child) {
  border-right: lightgray solid 1px;
}

table>tbody>tr:first-child>td {
  border-top: none;
}

table thead th {
  border-bottom: 3px solid #ddd!important;
}

table thead th.sort-active  {
  border-bottom: 3px solid orange !important;
}

/*.sort-down:before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}*/

.scroll-to-top {
      position: absolute;
right: 10px;
    top: 38px;
}

.scroll-to-top md-icon {
  font-size: 21px;
}

/*SUMMONER*/
.summoner-name {
    font-size: 35px;
    font-weight: bold;
    color: orange;
}

.panel {
  padding: 5px;
}

.summoner-stats {
  font-size: 20px;
}

.margin-right {
  margin-right: 15px;
}

.pie-chart-container label {
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.pie-chart-container {
  min-height: 200px;
}

.alert-popups {
  position:absolute;
  top:0;
  right:0;
}

.layout-container {
  /*overflow-y:auto;*/
}