<link rel="stylesheet" href="./modules/home/style.css" />

<!-- Error Mask -->
<div layout="row" flex="50" layout-align="center center" ng-cloak ng-show="noDataError" class="global-error-container">
<div flex>
  <div layout="column" layout-align="center center" class="alert alert-danger">
    <div>
      <strong>Error!</strong>  
      There was a problem reaching our server! Please try again later.
    </div>
    <div>
      <md-button class="md-raised" ng-disabled="retryNoDataError" ng-click="retryNoData()">
        Retry
      </md-button>
    </div>
  </div>
  <div layout="row" ng-if="retryNoDataError" ng-cloak>
      <md-progress-linear class="md-warn" md-mode="indeterminate">
      </md-progress-linear>
  </div>
  </div>
</div>







<div class="global-container" ng-cloak ng-hide="noDataError">
<div layout="row" layout-align="center" class="padding-top">

      <div flex layout="row" class="layout-container">
        <div layout="row" layout-align="center" flex="33" class="champion-container" ng-repeat="champ in topChampions">
          <img ng-src="{{getImgUrl(champ.name)}}">
            <div layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-diameter="150" md-mode="determinate" value="{{champ.currentAverage}}">
              </md-progress-circular>
            </div>
        </div>
      </div>

</div>

<div layout="row" layout-align="center center" class="search-container">

  <div flex layout="row" layout-align="center end" class="layout-container">
    <div layout="row" layout-align="center end" flex="50" class="champion-container">
    <md-input-container>
      <label>Champion Name</label>
      <input ng-model="search.name">
    </md-input-container>
    </div>
  </div>

</div>

<div layout="row" layout-align="center">
<div flex layout="row" class="layout-container">
  <table class="table table-inverse table-striped table-hover">
  <thead>
    <tr>
      <th colspan="4">Rank</th>
      <th colspan="6">Champion</th>
      <th colspan="4">Average Points</th>
    </tr>
  </thead>
  <tbody class="table-listings">
    <tr ng-repeat="champ in champList | filter:search | orderBy:['rank','name']" class="selectable-row" ng-click="goto(champ.name)">
      <td colspan="4">
          {{champ.rank}} 
          (<span class="{{champ.rankChangeDirection}}">{{champ.rankChange}}</span>)
      </td>
      <td colspan="6" scope="row"><img ng-src="{{getImgUrl(champ.name)}}">
      {{champ.name}}</td>
      <td colspan="4">
          {{champ.points === 0 ? 'no data yet' : champ.points}} 
          (<span class="{{champ.pointsChangeDirection}}">{{champ.pointsChange}}</span>)
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div layout="row" layout-align="center">
<div flex layout="row" class="layout-container">
<md-progress-linear md-mode="indeterminate" ng-if="loadingTable"></md-progress-linear>
</div>
</div>

<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-button class="md-primary" 
             ng-click="loadMore()"
             ng-disabled="championCount === champList.length">
    Load More
  </md-button>
</section>
</div>